body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title {
    font-weight: bold;
    padding-bottom: 4px;
}

.panel {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 4px;
}

button {
    width: max-content;
    padding: 8px 16px;
    border-radius: 999px;
    background-color: transparent;
    border: 1px solid grey;
    font-size: 12px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(14, 53, 75);
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}

input {
    border-radius: 4px;
    padding: 8px;
    border: 1px solid grey;
}

.panel-footer {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    margin-top: 16px;
}

.panel-extra {
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 12px;
    padding: 8px;
    cursor: pointer;
}

#generate-notification,
#validate-notification {
    font-size: 12px;
    text-align: center;
    word-wrap: normal;
}

.error-message {
    color: rgb(124, 17, 17);
}

.success-message {
    color: rgb(17, 124, 19);
}

a {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;

    text-decoration: none;
    color: #222;
}
